@charset "utf-8";
/* 通用样式 */
*{margin:0;padding:0;}
ul,ol,li{list-style:none;}
img{border:0;}
a{text-decoration:none;outline: medium none; color:#333;}
a:hover { text-decoration:none; color:#165696;}
body {font-family:"Microsoft YaHei"; background-color:#e3f1ff;}
.clear { clear:both; height:1px; overflow:hidden;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}
input[type=button]:focus,input[type=submit]:focus{outline:none;}
/*==========头部样式===========*/
.service_top { width:100%; height:120px; border-bottom:1px solid #0e447b; background-color:#d5e9fd;}
.service_top_in { margin:0 auto; width:1150px; height:80px;}
.service_logo { float:left; display:block; width:350px; height:64px; margin-top:8px;}
.service_nav { height:40px; line-height:40px; font-size:16px; background-color:#11477c}
.service_nav_in { margin:0 auto; width:1150px; height:80px; color:#fff; text-align:center;}
.service_nav a { margin:0 5px; padding:0 35px; color:#fff;}
.service_top_in span { float:right; font-size:14px; margin-top:30px;}
.service_top_in span a { margin:0 10px; font-weight:normal; padding:0}
.service_top_in span a:hover { border:none; background:none}
/*==========结构样式===========*/
.service_main {  margin:20px auto 0; width:1150px; height:auto;}
.service_main_b {  margin:20px auto 0; width:1150px; height:auto;}
.service_title_box { width:100%; height:20px; line-height:20px; margin-bottom:20px; border-left:5px solid #165696}
.service_left_a { float:left; width:228px; height:809px; border:1px solid #d1d1d1; margin-right:10px; background-color:#fff;}
.service_right_a { float:left; width:908px; height:auto; border:1px solid #e1dbdd; padding-bottom:30px; background-color:#fff;}
.service_left_b { float:left; width:298px; height:632px; border:1px solid #e1dbdd; margin-right:10px; background-color:#fff;}
.service_right_b { position:relative; float:left; width:838px; height:auto; border:1px solid #e1dbdd; padding-bottom:30px; background-color:#fff; overflow:hidden;}
.service_right_c { float:left; width:910px; height:auto; padding-bottom:30px;}

.service_login { width:100%; height:auto;}
.service_login_in { position:relative; margin:0 auto; width:1000px; height:800px;}
.login_ula { position:absolute; top:457px; left:50%; margin-left:202px; width:210px; height:145px;}
.login_ula .inp_b { width:206px; height:30px; line-height:30px; margin-bottom:16px; border:0}
.login_ula .btn_b { width:92px; height:40px; margin-top:9px; background:none; border:0; cursor:pointer} 

/*==========细节样式===========*/
.service_title_box h6 { padding-left:6px; font-size:16px; color:#333}
.pa_box { height:36px; line-height:36px; border-bottom:2px solid #164b80; font-size:14px; text-indent:10px; font-weight:bold; color:#fff; background-color:#165696;}
.meun { width:100%; height:auto;}
.meun li { width:100; height:auto; text-indent:30px; font-size:14px;}
.meun li a { color:#333; text-decoration:none}
.level1 { border-top:1px solid #d1d1d1; height:auto;font-weight:bold;}
.level1 a { display:block; height:auto; background:#eee url(../img/service_arr_a.png) no-repeat 10px 10px;padding:4px 0; }
.level2 { display:none;}
.level2 li { height:auto; line-height:26px; font-weight:normal;text-indent:45px;}
.level2 li.lia { background:url(../img/service_arr_b.png) no-repeat 30px 13px;}
.level2 li a { display:block; background:none; font-size:12px;}
.level2 li.lia a { display:block; background:none; font-size:12px;}
.level1 a.current { background:#bbb url(../img/service_arr_b.png) no-repeat 10px 10px;}

.level3 li { height:auto; line-height:26px; font-weight:normal;text-indent:65px;}
.level3 li.lib { background:url(../img/service_arr_b.png) no-repeat 48px 13px;}
.level3 li.lib1 { background:url(../img/service_arr_a.png) no-repeat 48px 13px;}

.level4 li { height:auto; line-height:26px; font-weight:normal;text-indent:80px;}


.ula_top { padding:10px 0 20px 20px; font-size:14px; color:#333; background-color:#e6ebf1;}
.ula_top li { height:36px; line-height:36px; font-size:14px; color:#333;}
.ula_top li p { float:right; width:240px;}
.ula_top li p .inp_a { width:120px; height:22px;}
.ula_top li p .btn_a { width:44px; height:23px; border:0; background-color:#165696; color:#fff; cursor:pointer; border:1px solid #1a65b1;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.ula_top li.lia a { margin-right:20px;}
.ula_top li.lia a { padding-right:12px; background:url(../img/service_arr_e.gif) no-repeat right 7px;}
.ula_top li.lia a.on {color:#f00; font-weight:bold; background:url(../img/service_arr_d.gif) no-repeat right 7px;}
.ula_top li strong { color:#f00}
.service_list_gmbox { position:relative; float:left; width:139px; height:auto; margin:10px 0 0 9px; border:1px solid #d1d1d1; background-color:#fff;}
.img_box { margin:20px auto;width:127px; height:127px; padding:5px;}
.service_list_gmbox .ula { padding:4px 0; font-size:12px; color:#666; text-align:center;}
.service_list_gmbox .ula li { height:26px; line-height:26px;}
.service_list_gmbox .ula li.lib { padding-bottom:10px;}
.service_list_gmbox .ula li.lib a { padding:6px 15px; border:1px solid #165696; color:#165696;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.service_list_gmbox .ula li.lib a.ahover { margin:0 10px}
.service_list_gmbox .ula li.lib a:hover { border:1px solid #165696; background-color:#165696; color:#fff; text-decoration:none;}
/*.list_btn_box { position:absolute; top:0; left:0; width:100%; height:18px; padding-top:6px; overflow:hidden;}
.list_btn_box a { float:left; display:block; width:36px; height:18px; line-height:18px; margin-left:6px; text-align:center; color:#666; font-size:12px; background:url(../img/service_btn_b.gif) no-repeat;}*/

.service_crumbs { width:100%; height:20px; line-height:20px; margin-bottom:20px; border-left:5px solid #165696; font-size:14px; text-indent:10px;}
.service_crumbs a { margin:0 5px; color:#165696;}
.service_h5_title { position:relative; height:40px; line-height:40px; background-color:#165696; font-weight:normal; color:#fff; font-size:16px;}
.pic_img_box { margin:25px 0 10px 20px; width:160px; height:160px;}
.service_left_b .ulb { font-size:14px; padding-left:20px;}
.service_left_b .ulb li { height:auto; line-height:34px;}
.service_left_b .ulb li span { color:#333;}
.service_h5_title a { display:block; float:left; width:140px; height:39px; line-height:39px; text-align:center; border-right:1px solid #11477c; color:#fff;}
.service_h5_title a.on { background-color:#fff; color:#333}
.service_h5_title span { position:absolute; top:1px; left:0; padding-left:10px;}
.xuan_box { height:20px; line-height:20px; padding:30px 0 0 30px; color:#333; font-size:14px;}
.sel_a { width:100px; height:20px; margin-right:20px;}
.xuan_box .btn_b { padding:2px 10px; border:0; background-color:#165696; color:#fff; cursor:pointer; margin-right:10px; border:1px solid #1a65b1;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.xuan_box a { color:#f00;}
.pic_img_box_b { margin:60px auto 0; width:603px; height:480px;}
/*==========分页样式===========*/
.service_page { margin-top:40px; font-size:12px; text-align:center;}
.service_page a { padding:4px 10px; border:1px solid #165696; margin:0 5px;}
.service_page a:hover,.service_page a.on { background-color:#165696; color:#fff; text-decoration:none; border:1px solid #165696;}

/*==========底部样式===========*/
.service_footer { margin-top:20px; width:100%; height:120px; border-top:4px solid #ddd; background-color:#545454;}

.service_a_gmbox { margin:0 auto 20px; display:block; width:908px; height:auto; border:1px solid #d1d1d1;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.service_a_gmbox:hover { color:#333; background-color:#f1f1f1; border:1px solid #cfe0f1;}
.service_a_gmbox dl { font-size:14px; padding:20px 0 20px 20px;}
.service_a_gmbox dl dt { float:left; width:868px; font-size:18px; font-weight:bold; padding-bottom:10px;}
.service_a_gmbox dl dd { float:left; width:434px; line-height:30px;}
.service_a_gmbox dl dd i { font-style:normal; color:#f00}

.mulu_box { position:relative; position:absolute; top:50px; left:-160px; width:160px;}
.meun_a { height:auto; width:160px;}
.meun_a li { height:auto; text-indent:30px; font-size:14px;}
.meun_a li a { color:#333; text-decoration:none}

.service_right_b .btn_a { position:absolute;top:0; left:160px; z-index:10; width:20px; font-size:12px; text-align:center; padding:6px 0; background-color:#11477c; color:#fff;}



/*==========2016-04-26新添加的样式===========*/
.tree_box{overflow: hidden; font-size:14px; color:#333}
.tree_box h3 { padding:5px 0; border-top:1px solid #d1d1d1; text-indent:30px; background:#eee url(../img/service_arr_a.png) no-repeat 10px;}
.tree_box h3.on { background:#eee url(../img/service_arr_b.png) no-repeat 10px;}
.tree_box h4 {padding:5px 0; border-top:1px solid #d1d1d1; text-indent:50px; background:#f6f6f6 url(../img/service_arr_a.png) no-repeat 30px;}
.tree_box h4.on { background:#eee url(../img/service_arr_b.png) no-repeat 30px;}
.tree_box h3,.tree_one h4,.tree_two li{cursor: pointer; font-size:14px;}
.tree_one,.tree_two{display: none;overflow: hidden;}
.tree_one li{ font-size:12px;}
.tree_two { padding:8px 0;}
.tree_two li{ padding:6px 0; font-size:12px; text-indent:50px;}



